torch
torchvision
torchaudio
numpy
pandas
pyarrow
langchain_text_splitters
transformers==4.42.4
colorama
nltk
tqdm
codebleu
openai
anthropic
ollama
rapidfuzz
python-dotenv
huggingface_hub[cli]
accelerate
sentencepiece
wheel
